<header class="d-flex justify-content-between white-text">
	<div class="d-flex align-items-center">
		<div class="pointer d-flex align-items-center pl-2 pr-4"
		     routerLink="/home">
			<img alt="Cards Logo"
			     class="mr-3"
			     src="../../assets/logos/playing-card_32.png">
			<span>Play Tarot IO</span>
		</div>
		<app-tabs></app-tabs>
	</div>
	<div *ngIf="(currentUser$ | async) as currentUser; else connect"
	     class="align-items-center">
		<app-user-menu [user]="currentUser"></app-user-menu>
	</div>
</header>

<ng-template #connect>
	<app-connect></app-connect>
</ng-template>
