<app-player [player]="northWestPlayer$ | async"
            class="position-fixed"
            style="top: 64px; left: 20%">
</app-player>
<app-player [player]="northEastPlayer$ | async"
            class="position-fixed"
            style="top: 64px; right: 20%">
</app-player>
<app-player [player]="westPlayer$ | async"
            class="position-fixed"
            style="left: 0; top: 40%">
</app-player>
<app-player [player]="eastPlayer$ | async"
            class="position-fixed"
            style="right: 0; top: 40%">
</app-player>
<!--<div id="game-wrapper">-->
<!--	<div class="row game-top d-flex justify-content-around">-->
<!--		<app-player [player]="northWestPlayer$ | async">-->
<!--		</app-player>-->
<!--		<app-player [player]="northEastPlayer$ | async">-->
<!--		</app-player>-->
<!--	</div>-->
<!--	<div class="row game-middle d-flex justify-content-between">-->
<!--		<app-player [player]="westPlayer$ | async">-->
<!--		</app-player>-->
<!--		<div>-->
<!--			<app-start *ngIf="centerSectionContent === 'start'">-->
<!--			</app-start>-->
<!--			<app-board *ngIf="centerSectionContent === 'board'"-->
<!--					   [eastCard]="southCard$ | async"-->
<!--					   [northEastCard]="southCard$ | async"-->
<!--					   [northWestCard]="southCard$ | async"-->
<!--					   [southCard]="southCard$ | async"-->
<!--					   [westCard]="southCard$ | async">-->
<!--			</app-board>-->
<!--		</div>-->
<!--		<app-player [player]="eastPlayer$ | async">-->
<!--		</app-player>-->
<!--	</div>-->
<!--	<div class="row game-bottom justify-content-center">-->
<!--		<app-hand [hand]="(hand$ | async)">-->
<!--		</app-hand>-->
<!--	</div>-->

<!--</div>-->
