/* For use in src/lib/@core/theming/_palette.scss */
$md-primary: (
	50 : #ffecec,
	100 : #ffd1d1,
	200 : #ffb2b2,
	300 : #ff9393,
	400 : #ff7b7b,
	500 : #ff6464,
	600 : #ff5c5c,
	700 : #ff5252,
	800 : #ff4848,
	900 : #ff3636,
	A100 : #ffffff,
	A200 : #ffffff,
	A400 : #ffe0e0,
	A700 : #ffc7c7,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #000000,
		700 : #000000,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$md-secondary: (
	50 : #fbe6eb,
	100 : #f4c1cc,
	200 : #ed98ab,
	300 : #e66e89,
	400 : #e04f6f,
	500 : #db3056,
	600 : #d72b4f,
	700 : #d22445,
	800 : #cd1e3c,
	900 : #c4132b,
	A100 : #fff4f5,
	A200 : #ffc1c8,
	A400 : #ff8e9b,
	A700 : #ff7484,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$md-background: (
	50 : #fff7f3,
	100 : #ffeae1,
	200 : #ffdccd,
	300 : #ffceb8,
	400 : #ffc4a9,
	500 : #ffb99a,
	600 : #ffb292,
	700 : #ffaa88,
	800 : #ffa27e,
	900 : #ff936c,
	A100 : #ffffff,
	A200 : #ffffff,
	A400 : #ffffff,
	A700 : #fff7f5,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #000000,
		700 : #000000,
		800 : #000000,
		900 : #000000,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$md-dark: (
	50 : #f0e4e8,
	100 : #dabbc6,
	200 : #c28ea0,
	300 : #aa617a,
	400 : #973f5e,
	500 : #851d41,
	600 : #7d1a3b,
	700 : #721532,
	800 : #68112a,
	900 : #550a1c,
	A100 : #ff8aa1,
	A200 : #ff5778,
	A400 : #ff244f,
	A700 : #ff0a3a,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #ffffff,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);

