#header-wrapper {
	height: calc(100% - 64px);
	width: 100%;
	background: url("./../../../assets/home_background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
